<%= form_for(Need.new) do |f| %>
  <div class="field">
    I need:
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

<h1>Needs</h1>
<table class="table">
  <tr>
    <th>Description</th>
    <th>Person</th>
  </tr>

<% @needs.each do |need| %>
  <tr>
    <td><%= need.description %></td>
    <td><%= need.user.email %></td>
  </tr>
<% end %>
</table>

