<% content_for :javascript do %>
<script type="text/javascript" charset="utf-8">
$(function() {
  var all_tags = [ <% ActsAsTaggableOn::Tag.pluck(:name).each { |item| %> '<%= item %>', <% } %> ];
  $('#tags').tagit({ availableTags: all_tags }); 
});
</script>
<% end %>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">

<div class="row">
  <div class="span12">
    <% if user_signed_in? %>
      <%= form_for(Need.new, :class => "form-horizontal") do |f| %>
        <div class="control-group">
          <label class="control-label" for="description">I need</label>
          <div class="controls">
            <%= f.text_area :description, cols: 160, rows: 2, :class => "span12" %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="description">location</label>
          <div class="controls">
            <input name="location" type="text" value="" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="description">tags</label>
          <div class="controls">
            <input name="need_tags" type="text" id="tags" value="" class="input-xxlarge" autocomplete="off" placeholder="e.g. trucks, sunnyside" />
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Submit" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= link_to "I need...", new_user_registration_path, :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table">
      <tr>
        <th></th>
        <th></th>
        <th>Need</th>
        <th>Tags</th>
        <th></th>
      </tr>
      <% @needs.each do |need| %>
      <tr>
        <td><%= gravatar_for(need.user) %></td> 
        <td><%= need.user.name %></td>
        <td> I need <%= need.description %></td>
        <td><span> <i class="icon-tags"></i> </span>
        <% need.tags.each do |tag| -%>
          <a href="<%= url_for tag_path(tag.name) %>"><span class="label"><%= tag.name %></span></a>
        <% end -%>
        </td>
        <td><%= link_to "Help", need_path(need), :class => "btn" %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
