<div class="row">
  <div class="span6">
    <p>My name is <%= @need.user.name %> and I need...</p>
    <p class="lead"><%= @need.description %></p>
  </div>
  <div class="span6">
    <p>You can contact me <a href="mailto:<%= @need.user.email %>"><%= @need.user.email %></a></p>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@need.latitude}%2C#{@need.longitude}" %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul>
      <% for need in @need.nearbys(10) %>
        <li><%= link_to need.address, need %> (<%= need.distance.round(2) %> miles)</li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span12">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
var disqus_shortname = 'rebuildyyc';
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>
